
<form method="post">
    <input name="nombre" placeholder="Nombre" />
    <input name="apellido" placeholder="Apellido" />
    <input name="email" placeholder="Email" />
    <input name="dni" placeholder="DNI" />
    <input name="password" type="password" placeholder="Password" />
    <button type="submit">Registrar Cliente</button>
</form>
